@model SocialLibraryMVC.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are You Sure You Want to Delete This Book?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authors.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN_10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN_10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cover)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ISBN_13" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" input class="btn btn-success">Back to List</a>
    </form>
</div>
