@model IEnumerable<SocialLibraryMVC.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;">Book Reviews</h1>

<table class="table">
    <thead style="text-align:center;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text_review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="text-align:center;">
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text_review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.Title)
            </td>
            <td>
                    @if (ViewData["CurrentUser"] != null && item.User_id == (string)ViewData["CurrentUser"])
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-trash-fill"></i></a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
