@model IEnumerable<SocialLibraryMVC.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;">Ten Most Recent Book Reviews</h1>


  <style type="text/css">
/* controls overall styles of the table*/
  table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }
 /* controls spacing between titles and information*/
  .t1 th, .t1 td {
    padding: 4px 8px;
  }
/*  changes components of all the titles in the table*/
  .t1 thead th {
    background: #ff6666;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
 /* changes left and right border colors*/
  .t1 tr {
    border-right: 1px solid #ff9999;
    border-left: 1px solid #ff9999;
  }
  /*changes row bottom border color*/
  .t1 tbody tr {
    border-bottom: 1px solid #ff9999;
  }
/*  adds line to distinguished user from their reviews*/
  .t1 tr *:nth-child(1) {
    border-right: 1px solid #ff6666;
  }
 /* changes row color for odd entries*/
  .t1 tbody tr:nth-child(odd) {
    background: #ffcccc;
  }
   /* changes row color for even entries*/
  .t1 tbody tr:nth-child(even) {
    background: white;
  }
 /* adjusts components for 1st, 3rd and 4th columns (rating and title)*/
  .t1 tr *:nth-child(1), .t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: center;
  }
</style>



<table class="t1">
    <thead style="text-align:center;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text_review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text_review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.Title)
            </td>
            <td>
                    @if (ViewData["CurrentUser"] != null && item.User_id == (string)ViewData["CurrentUser"])
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
